#timer {
    border: none;
    background-color: rgb(35, 87, 69);
    color: blanchedalmond;
    border-radius: 5px;
    padding: 10px 16px 10px 16 px;
    font-size: 18px;
    margin: 5px;
}
header {
    padding: 0px 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
#start-page {
    text-align: center;
}
a {
    text-decoration: none;
}

body {
    background-color: thistle;
}
.hide {
    display: none;
}