#button {
    border: none;
    background-color: rgb(35, 87, 69);
    color: blanchedalmond;
    border-radius: 5px;
    padding: 10px 16px 10px 16 px;
    font-size: 18px;
    margin: 5px;
}

#questions {
    text-align: center;
}
.score {
    float: left;
}
a {
    text-decoration: none;
}
#navigation {
    display: block;
    display: inline-block;
    margin: 10px;
}
body {
    background-color: thistle;
}
